<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName = "Morphic" ?>
  <?define ProductManufacturer = "Raising the Floor" ?>
  <?define ProductVersion = "$(fun.AutoVersion(1.0))" ?>
  <?define UpgradeCode = "9ece615d-e499-44bc-9233-3d25b52e6bb7" ?>

  <?define RegistryKeyPath = "SOFTWARE\$(var.ProductName)" ?>

  <Product Id="*"
           Name="$(var.ProductName)"
           Manufacturer="$(var.ProductManufacturer)"
           Version="$(var.ProductVersion)"
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033"
           >
    <Package InstallerVersion="405"
             Compressed="yes"
             InstallScope="perMachine"
             />

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Custom properties -->
    <Property Admin="yes" Id="SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="DESKTOP_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="START_MENU_SHORTCUTS" Value="1" />

    <Property Admin="yes" Id="GPII_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="GPII_DESKTOP_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="GPII_START_MENU_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="GPII_AUTOSTART" Value="1" />
    <Property Admin="yes" Id="GPII_START_AFTER_INSTALLATION" Value="1" />

    <!-- Features -->
    <Feature Id="GPIIFeature" Title="$(var.ProductName)" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" Absent="disallow">
      <ComponentGroupRef Id="GPII" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartupShortcut" />
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <?if $(var.gotFilebeat)=1 ?>
      <Feature Id="Filebeat" Title="Filebeat Service" AllowAdvertise="no" Display="hidden" Level="1">
        <MergeRef Id="Filebeat"/>
      </Feature>
    <?endif?>

    <Feature Id="HSTTOOLS" Title="APCP Hardware Sensitivity Tests" AllowAdvertise="no">
      <ComponentRef Id="DummyCreateFolderWithPermissions" />
      <ComponentRef Id="System_Information.bat" />
    </Feature>

    <Feature Id="CHROME" Title="Google Chrome Extensions" AllowAdvertise="no">
      <ComponentRef Id="GoogleChromeExtensions" />
    </Feature>

   <Feature Id="Themes" Title="High Contrast Themes" AllowAdvertise="no">
     <ComponentGroupRef Id="Themes"/>
    </Feature>

    <!-- Components -->
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="Merge Modules\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/>
    </DirectoryRef>

    <Icon Id="Morphic.ico" SourceFile="Morphic\Morphic.ico" />

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Condition>SHORTCUTS="1" AND START_MENU_SHORTCUTS="1" AND GPII_SHORTCUTS="1" AND GPII_START_MENU_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="InstallPath"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes"/>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="Version"
                       Type="string"
                       Value="$(var.ProductVersion)"/>
        <Shortcut Id="ExecutableShortcut"
                  Name="Start $(var.ProductName)"
                  Target="[INSTALLFOLDER]\start.cmd"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="Morphic.ico"
                  />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall $(var.ProductName)"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="{6D11DABF-F968-40F4-8A52-3DE02ED31AEF}">
        <Condition>SHORTCUTS="1" AND DESKTOP_SHORTCUTS="1" AND GPII_SHORTCUTS="1" AND GPII_DESKTOP_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="InstallPath"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes"/>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="Version"
                       Type="string"
                       Value="$(var.ProductVersion)"/>
        <Shortcut Id="ExecutableDesktopShortcut"
                  Name="Start $(var.ProductName)"
                  Target="[INSTALLFOLDER]\start.cmd"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="Morphic.ico"
                  />
        <Shortcut Id="ResetDesktopShortcut"
                  Name="Reset $(var.ProductName)"
                  Target="[INSTALLFOLDER]\reset.cmd"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="Morphic.ico"
                  />
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="HSTToolsFolder">
      <Component Id="DummyCreateFolderWithPermissions" Guid="{bb24482f-680d-49dc-af86-f0965eb945be}">
        <CreateFolder>
          <Permission User="Everyone" GenericAll="yes" />
        </CreateFolder>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="DesktopFolderWithPermissions"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"
                       />
      </Component>
      <Component Id="System_Information.bat" Guid="{e3f9e4d0-f80e-4684-8ced-f231bf0d5254}" Permanent="yes" >
          <File Id="System_Information.bat" Source="HSTTOOLS\System_Information.bat" />
          <RegistryValue Root="HKCU"
                         Key="$(var.RegistryKeyPath)"
                         Name="System_Information.bat"
                         Type="integer"
                         Value="1"
                         KeyPath="yes"
                         />
          <RemoveFolder Id="HSTToolsFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="StartupFolder">
      <Component Id="StartupShortcut" Guid="{1FD6D8C0-3024-44E8-AF1E-46167B836B99}">
        <Condition>GPII_AUTOSTART="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="InstallPath"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes"/>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="Version"
                       Type="string"
                       Value="$(var.ProductVersion)"/>
        <Shortcut Id="ExecutableStartupShortcut"
                  Name="Start $(var.ProductName)"
                  Target="[INSTALLFOLDER]\start.cmd"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="Morphic.ico"
                  />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ChromeExtensions">
      <Component Id="GoogleChromeExtensions" Guid="{e0294fce-5dd6-4a71-b514-8c5b55006195}">
        <RegistryKey Root="HKLM"
                     Key="Software\Policies\Google\Chrome\ExtensionInstallForcelist"
                     Action="createAndRemoveOnUninstall">
          <!-- This registry key forces the installation of UIO+ -->
          <RegistryValue Name="1"
                         Type="string"
                         Value="okenndailhmikjjfcnmolpaefecbpaek;https://clients2.google.com/service/update2/crx"
                         KeyPath="yes"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>

    <!-- We use asyncNoWait in order to not wait for their return codes -->
    <CustomAction Id="RunGPII" ExeCommand="[INSTALLFOLDER]\start.cmd" Directory="INSTALLFOLDER" Return="asyncNoWait" />
    <CustomAction Id="RunTrayIcon" ExeCommand="[INSTALLFOLDER]\windows\trayicon.exe morphic-app.exe -show" Directory="INSTALLFOLDER" Return="asyncNoWait" />

    <!-- Install execute sequence of custom actions -->
    <InstallExecuteSequence>
      <Custom Action="RunGPII" After="InstallFinalize">
        GPII_START_AFTER_INSTALLATION="1"
      </Custom>
      <Custom Action="RunTrayIcon" After="InstallFinalize">
        GPII_START_AFTER_INSTALLATION="1"
      </Custom>
    </InstallExecuteSequence>

    <!-- UI Configuration -->
    <UIRef Id="GPII_UI" />
    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="Morphic\Bitmaps\GPII-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Morphic\Bitmaps\GPII-dialog.bmp" />
  </Product>

  <!-- Folder structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
          <?if $(var.gotFilebeat)=1 ?>
            <Directory Id="Filebeat" Name="filebeat">
              <Merge Id="Filebeat" SourceFile="..\filebeat.msm" DiskId="1" Language="1033"/>
            </Directory>
          <?endif?>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Directory Id="HSTToolsFolder" Name="APCP Hardware Sensitivity Testing Tools" />
      </Directory>
      <Directory Id="StartupFolder" Name="Startup" />
      <Directory Id="ChromeExtensions" Name="Chrome" />
      <Directory Id="WindowsFolder" Name="WindowsFolder">
        <Directory Id="ResourcesDirectory" Name="Resources">
          <Directory Id="ThemesDirectory" Name="Ease of Access Themes" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
