<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define ProductName = "GPII" ?>
  <?define ProductManufacturer = "Raising the Floor" ?>  
  <?define ProductVersion = "$(fun.AutoVersion(1.0))" ?>
  <?define UpgradeCode = "9ece615d-e499-44bc-9233-3d25b52e6bb7" ?>
  
  <?define RegistryKeyPath = "SOFTWARE\$(var.ProductName)" ?>

  <Product Id="*"
           Name="$(var.ProductName)"
           Manufacturer="$(var.ProductManufacturer)"           
           Version="$(var.ProductVersion)"
           UpgradeCode="$(var.UpgradeCode)"
           Language="1033"           
           >
    <Package InstallerVersion="405" 
             Compressed="yes" 
             InstallScope="perMachine" 
             />
    
    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Custom properties -->
    <Property Admin="yes" Id="SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="DESKTOP_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="START_MENU_SHORTCUTS" Value="1" />

    <Property Admin="yes" Id="GPII_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="GPII_DESKTOP_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="GPII_START_MENU_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="GPII_AUTOSTART" Value="0" />

    <Property Admin="yes" Id="USB_LISTENER_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="USB_LISTENER_DESKTOP_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="USB_LISTENER_START_MENU_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="USB_LISTENER_AUTOSTART" Value="0" />

    <Property Admin="yes" Id="RFID_LISTENER_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="RFID_LISTENER_DESKTOP_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="RFID_LISTENER_START_MENU_SHORTCUTS" Value="1" />
    <Property Admin="yes" Id="RFID_LISTENER_AUTOSTART" Value="0" />

    <!-- Features -->
    <Feature Id="GPIIFeature" Title="$(var.ProductName)" ConfigurableDirectory="INSTALLFOLDER" AllowAdvertise="no" Absent="disallow">
      <ComponentGroupRef Id="GPII" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <ComponentRef Id="StartupShortcut" />
    </Feature>

    <Feature Id="Listeners" Title="Listeners" AllowAdvertise="no">
      <ComponentRef Id="Dummy" />
      <Feature Id="USBListenerFeature" Title="USB Listener" AllowAdvertise="no">
        <ComponentGroupRef Id="USBListener" />        
        <ComponentGroupRef Id="UCRT" />
        <ComponentRef Id="USBListenerShortcuts"/>
        <ComponentRef Id="USBListenerDesktopShortcuts"/>
        <ComponentRef Id="USBListenerStartupShortcuts"/>
      </Feature>
      <Feature Id="RFIDListenerFeature" Title="RFID Listener" AllowAdvertise="no">
        <ComponentGroupRef Id="RFIDListener" />
        <ComponentGroupRef Id="UCRT" />
        <ComponentRef Id="RFIDListenerShortcuts"/>
        <ComponentRef Id="RFIDListenerDesktopShortcuts"/>
        <ComponentRef Id="RFIDListenerStartupShortcuts"/>
      </Feature>
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>
    
    <!-- Components -->
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="Merge Modules\Microsoft_VC140_CRT_x86.msm" DiskId="1" Language="0"/>
    </DirectoryRef>

    <Icon Id="GPII.ico" SourceFile="GPII\GPII.ico" />
    <Icon Id="GPII_USBListener.ico" SourceFile="GPII\GPII_USBListener.ico" />
    <Icon Id="GPII_RFIDListener.ico" SourceFile="GPII\GPII_RFIDListener.ico" />

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut">
        <Condition>SHORTCUTS="1" AND START_MENU_SHORTCUTS="1" AND GPII_SHORTCUTS="1" AND GPII_START_MENU_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="InstallPath"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes"/>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="Version"
                       Type="string"
                       Value="$(var.ProductVersion)"/>
        <Shortcut Id="ExecutableShortcut"
                  Name="Start $(var.ProductName)"
                  Target="[INSTALLFOLDER]\start.cmd"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="GPII.ico"
                  />
        <Shortcut Id="UninstallProduct"
                  Name="Uninstall $(var.ProductName)"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
      </Component>
      <Component Id="USBListenerShortcuts" Guid="{848532D6-C46F-4989-84AF-1EF84A705D29}">
        <Condition>SHORTCUTS="1" AND START_MENU_SHORTCUTS="1" AND USB_LISTENER_SHORTCUTS="1" AND USB_LISTENER_START_MENU_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="USBListener"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"
                       />
        <Shortcut Id="USBListenerShortcut"
                  Name="Start USB Listener"
                  Target="[LISTENERFOLDER]\GPII_USBListener.exe"
                  Icon="GPII_USBListener.ico"
                  />
      </Component>
      <Component Id="RFIDListenerShortcuts" Guid="{9DB70181-7CA2-42D1-85BE-9542BCD5967E}">
        <Condition>SHORTCUTS="1" AND START_MENU_SHORTCUTS="1" AND RFID_LISTENER_SHORTCUTS="1" AND RFID_LISTENER_START_MENU_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="RFIDListener"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
        <Shortcut Id="RFIDListenerShortcut" 
                  Name="Start RFID Listener"
                  Target="[LISTENERFOLDER]\GPII_RFIDListener.exe"
                  Icon="GPII_RFIDListener.ico"
                  />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="{6D11DABF-F968-40F4-8A52-3DE02ED31AEF}">
        <Condition>SHORTCUTS="1" AND DESKTOP_SHORTCUTS="1" AND GPII_SHORTCUTS="1" AND GPII_DESKTOP_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="InstallPath"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes"/>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="Version"
                       Type="string"
                       Value="$(var.ProductVersion)"/>
        <Shortcut Id="ExecutableDesktopShortcut"
                  Name="Start $(var.ProductName)"
                  Target="[INSTALLFOLDER]\start.cmd"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="GPII.ico"
                  />
        <RemoveFolder Id="DesktopFolder" On="uninstall"/>
      </Component>
      <Component Id="USBListenerDesktopShortcuts" Guid="{75D82AC8-A92F-4DA2-A26A-A47470F33667}">
        <Condition>SHORTCUTS="1" AND DESKTOP_SHORTCUTS="1" AND USB_LISTENER_SHORTCUTS="1" AND USB_LISTENER_DESKTOP_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="USBListener"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"
                       />
        <Shortcut Id="USBListenerDesktopShortcut"
                  Name="Start USB Listener"
                  Target="[LISTENERFOLDER]\GPII_USBListener.exe"
                  Icon="GPII_USBListener.ico"
                  />
      </Component>
      <Component Id="RFIDListenerDesktopShortcuts" Guid="{F6AE5315-4833-4EE0-A0D7-C9C50EE9AA49}">
        <Condition>SHORTCUTS="1" AND DESKTOP_SHORTCUTS="1" AND RFID_LISTENER_SHORTCUTS="1" AND RFID_LISTENER_DESKTOP_SHORTCUTS="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="RFIDListener"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"
                       />
        <Shortcut Id="RFIDListenerDesktopShortcut"
                  Name="Start RFID Listener"
                  Target="[LISTENERFOLDER]\GPII_RFIDListener.exe"
                  Icon="GPII_RFIDListener.ico"
                  />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="StartupFolder">
      <Component Id="StartupShortcut" Guid="{1FD6D8C0-3024-44E8-AF1E-46167B836B99}">
        <Condition>GPII_AUTOSTART="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="InstallPath"
                       Type="string"
                       Value="[INSTALLFOLDER]"
                       KeyPath="yes"/>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="Version"
                       Type="string"
                       Value="$(var.ProductVersion)"/>
        <Shortcut Id="ExecutableStartupShortcut"
                  Name="Start $(var.ProductName)"
                  Target="[INSTALLFOLDER]\start.cmd"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="GPII.ico"
                  />
      </Component>
      <Component Id="USBListenerStartupShortcuts" Guid="{99A5E4EB-50A3-4EDA-B5D3-4F7620D962D9}">
        <Condition>USB_LISTENER_AUTOSTART="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="USBListener"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"
                       />
        <Shortcut Id="USBListenerStartupShortcut"
                  Name="Start USB Listener"
                  Target="[LISTENERFOLDER]\GPII_USBListener.exe"
                  Icon="GPII_USBListener.ico"
                  />
      </Component>
      <Component Id="RFIDListenerStartupShortcuts" Guid="{BE357EBB-2619-4A3B-A42E-95CE13A1E1B4}">
        <Condition>RFID_LISTENER_AUTOSTART="1"</Condition>
        <RegistryValue Root="HKCU"
                       Key="$(var.RegistryKeyPath)"
                       Name="RFIDListener"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"
                       />
        <Shortcut Id="RFIDListenerStartupShortcut"
                  Name="Start RFID Listener"
                  Target="[LISTENERFOLDER]\GPII_RFIDListener.exe"
                  Icon="GPII_RFIDListener.ico"
                  />
      </Component>
    </DirectoryRef>

    <Component Id="Dummy" Directory="LISTENERFOLDER" Guid="{2F28061A-EF7D-4795-8FD4-2B7724212166}">
      <RegistryValue Root="HKCU"
                     Key="$(var.RegistryKeyPath)"
                     Name="ListenerPath"
                     Type="string"
                     Value="[LISTENERFOLDER]"
                     KeyPath="yes"
                     />
    </Component>

    <!-- UI Configuration -->
    <UIRef Id="GPII_UI" />
    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="GPII\Bitmaps\GPII-banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="GPII\Bitmaps\GPII-dialog.bmp" />
  </Product>

  <!-- Folder structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductName)">
          <Directory Id="LISTENERFOLDER" Name="listeners" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
      <Directory Id="StartupFolder" Name="Startup" />      
    </Directory>
  </Fragment>
</Wix>